﻿@namespace Generator.BlazorComponents

<button type="button" onclick="window.history.go(-1)" class="@Class">
    <i data-feather="arrow-left"></i> @Label
</button>

@code {
    [Parameter]
    public string Label { get; set; } = "Wróć";

    [Parameter]
    public string Class { get; set; } = "btn btn-secondary";
}