﻿@namespace Generator.BlazorComponents

<tr>
    <td>@Category.CategoryId</td>
    <td>
        <component type="typeof(InputText)"
                   id="category-name"
                   bind-Value="@Category.CategoryName"
                   class="form-control"
                   param-Category="@Category"
                   readonly="@readOnly"
                   render-mode="Server" />

        @*<InputText id="category-name" @bind-Value="Category.CategoryName" class="form-control" readonly="@readOnly" />*@
    </td>
    @*Buttons*@
    <td>
        <button class="btn btn-warning" @onclick="() => readOnly = false">Edytuj</button>
        <button class="btn btn-danger">Usuń</button>
    </td>
</tr>

@code {
    // This is a static Razor component!

    [Parameter]
    public CategoryModel Category { get; set; }

    //[Parameter]
    //public EventCallback<CategoryModel> OnDeleteCategory { get; set; }

    private bool readOnly = false;

    private async Task DeleteCategory()
    {
        //
    }
}

