﻿@model IEnumerable<Shared.Models.ExamModel>

@using Generator.ViewModels

@{
    Layout = "_Layout";
}


<div class="container p-2">
    <div class="row py-2">
        <div class="ml-3 mr-auto">
            <h2>Testy w bazie</h2>
        </div>
    </div>

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th>Tytuł testu</th>
                    <th style="width: 130px">Szczegóły</th> @*Buttons*@
                    <th style="width: 130px">Usuń</th> @*Buttons*@
                </tr>
            </thead>
            <tbody>
                @foreach (ExamModel exam in Model.Reverse())
                {
                    <tr>
                        <td>@exam.Title</td>
                        <td>
                            <a asp-controller="Generate"
                               asp-action="Summary" 
                               asp-route-examId="@exam.DbId" 
                               class="btn btn-primary"> <i data-feather="info"></i> </a>
                        </td>  
                        <td>
                            <a asp-controller="Generate" 
                               asp-action="RemoveExam" 
                               asp-route-examId="@exam.DbId" 
                               class="btn btn-danger"><i data-feather="trash-2"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Brak testów w bazie.</p>
    }
</div>