﻿@model Generator.ViewModels.GenerationViewModel

@using Shared.Models

@{
    Layout = "_Layout";
}

<form method="post" asp-controller="Generate" asp-action="SetConstraints">
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="ClosedCount"></label>
        <input asp-for="ClosedCount" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="OpenCount"></label>
        <input asp-for="OpenCount" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
    </div>


    <div class="form-group">
        <label asp-for="CategoriesSelected">Wskaż kategorie. (Pusty wybór = wszystkie kategorie!)</label>
            <div class="container">
                @for (int i = 0; i < Model.CategoriesSelected.Count(); i++)
                {
                    <div class="col-4 form-check-inline">
                        <input asp-for="@(Model.CategoriesSelected[i].IsSelected)"
                               type="checkbox" 
                               id="@(Model.CategoriesSelected[i].Category.CategoryId)"
                               class="form-check-input">
                        <input asp-for="@(Model.CategoriesSelected[i].Category.CategoryId)"  type="hidden"/>
                        <input asp-for="@(Model.CategoriesSelected[i].Category.CategoryName)"  type="hidden"/>
                        <label for="@(Model.CategoriesSelected[i].Category.CategoryId)"
                               class="form-check-label">
                            @(Model.CategoriesSelected[i].Category.CategoryName)
                        </label>
                    </div>
                }
            </div>
    </div>

    <button type="submit" class="btn btn-primary"><i data-feather="arrow-right"></i> Zatwierdź</button>
    <component type="typeof(Generator.BlazorComponents.BackButton)" render-mode="Static" />
</form>