﻿@model Generator.ViewModels.ExamSummaryViewModel

@{
    Layout = "_Layout";
}

<div class="container p-2">
    <div class="row py-2">
        <div class="ml-3 mr-auto">
            <h2>Podsumowanie wybranych zdań</h2>
        </div>
    </div>

    @if (Model.ChosenProblemList.Count > 0)
    {
        <h3><em>@Model.Exam.Title</em></h3>
        <table class="table table-bordered table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th>Pozycja w teście</th>
                    <th>Id w bazie</th>
                    <th>Typ</th>
                    <th>Treść zadania</th>
                    <th style="width: 130px">Usuń z testu</th> @*Buttons*@
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.ChosenProblemList.Count; i++)
                {
                    <tr>
                        <td>@i</td>
                        <td>@Model.ChosenProblemList[i].IdNumber</td>
                        <td>@Model.ChosenProblemList[i].Type.EnumPrettyLabel()</td>
                        <td>@Model.ChosenProblemList[i].ProblemText.TruncateLongString(100)</td>
                        <td>
                            <form method="post" class="form-inline">
                            <div class="form-group mx-sm-3">
                                <input asp-for="PositionOfProblemToRemove" value="@i" type="hidden" class="form-control">
                                <input asp-for="ExamDbId" type="hidden" readonly="@true" class="form-control">

                                <button asp-controller="Generate" 
                                        asp-action="Remove" 
                                        type="submit" 
                                        class="btn btn-danger" 
                                        data-toggle="tooltip" 
                                        data-placement="top" 
                                        title="Usuń"><i data-feather="trash-2"></i></button>
                            </div>
                            
                            </form>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    }


    <div class="row">
        <div class="ml-auto mr-3 mt-2">
            <p><strong>Ręcznie dodaj zadanie z bazy.</strong></p>

            <form method="post" class="form-inline">
                <input asp-for="ExamDbId" type="hidden" readonly="@true" class="form-control">
                <div class="form-group mx-sm-3">
                    <label asp-for="IdOfProblemToInsert" class="mr-2">Id</label>
                    <input asp-for="IdOfProblemToInsert" class="form-control" placeholder="0">
                </div>
                <div class="form-group mx-sm-3">
                    <label asp-for="PositionOfProblemToInsert" class="mr-2">Pozycja w teście</label>
                    <input asp-for="PositionOfProblemToInsert" class="form-control" placeholder="0">
                </div>
                <button asp-controller="Generate" asp-action="Insert" type="submit" class="btn btn-primary">Dodaj</button>
            </form>
        </div>
    </div>

    <hr />

    <div class="row py-2">
        <div class="col-auto">
            <a asp-controller="Generate" asp-action="Index" class="btn btn-secondary"><i data-feather="arrow-left"></i> Powrót do bazy testów</a>
        </div>
    </div>

    <hr />

    <div class="row py-2 justify-content-between">
        <div class="col-auto mr-auto">
            <a asp-controller="Generate" asp-action="Print" asp-route-examId="@Model.ExamDbId" class="btn btn-success"> <i data-feather="printer"></i> Utwórz jedną grupę</a>
        </div>

        <div class="col-auto ml-auto">
            <form method="post" class="form-inline">
                <input asp-for="ExamDbId" type="hidden" readonly="@true" class="form-control">
                <div class="form-group mx-sm-3">
                    <label asp-for="NumberOfStudents" class="mr-2">Liczba grup</label>
                    <input asp-for="NumberOfStudents" class="form-control" placeholder="0">
                </div>
                <button asp-controller="Generate" asp-action="Print" type="submit" class="btn btn-success"><i data-feather="printer"></i> Utwórz wiele grup</button>
            </form>
        </div>
    </div>
</div>

