﻿@model Shared.Models.ProblemModel

@using Shared.Models

@{
    Layout = "_Layout";
}

<form method="post" asp-controller="Problem" asp-action="Create" asp-route-category="@ViewBag.preservedCategory" asp-route-page="@ViewBag.preservedPage">
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="IdNumber"></label>
                <input asp-for="IdNumber" readonly="@true" class="form-control-plaintext" />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="Score"></label>
                <input asp-for="Score" class="form-control" />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="Type"></label>
                <select asp-for="Type" class="form-control"
                        asp-items="Html.GetEnumSelectList<ProblemType>()">
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Category.CategoryName"></label>
        <select asp-for="Category.CategoryId" class="form-control"
                asp-items="ViewBag.CategoryList">
        </select>
    </div>
    <div class="form-group">
        <label asp-for="ProblemText"></label>
        <textarea asp-for="ProblemText" class="form-control" rows="15"></textarea>
    </div>

    <button type="submit" class="btn btn-primary"><i data-feather="check"></i> Zatwierdź</button>
    <component type="typeof(Generator.BlazorComponents.BackButton)" render-mode="Static" />
</form>