﻿@model Shared.Models.ProblemModel

@using Shared.Models

@{
    Layout = "_Layout";
}
@*<form method="post">*@
<form method="post" asp-controller="Problem" asp-action="Delete" asp-route-category="@ViewBag.preservedCategory" asp-route-page="@ViewBag.preservedPage">
    @*asp-action="DisplaySummary"*@
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="IdNumber"></label>
                <input asp-for="IdNumber" readonly="@(true)" class="form-control-plaintext" />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="Score"></label>
                <input asp-for="Score" readonly="@(true)" class="form-control" />
            </div>      
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="Type"></label>
                <select asp-for="Type" class="form-control" readonly="@(true)"
                        asp-items="Html.GetEnumSelectList<ProblemType>()">
                    <option readonly selected>@Model.Type.EnumPrettyLabel()</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Category.CategoryName"></label>
        <select asp-for="Category.CategoryId" class="form-control" readonly="@(true)"
                asp-items="ViewBag.CategoryList">
            <option readonly selected>@Model.Category.CategoryName</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="ProblemText"></label>
        <textarea asp-for="ProblemText" readonly="@(true)" class="form-control" rows="15"></textarea>
    </div>

    <button type="submit" class="btn btn-danger"><i data-feather="trash-2"></i> Usuń</button>
    <component type="typeof(Generator.BlazorComponents.BackButton)" render-mode="Static" />
</form>