﻿@model X.PagedList.IPagedList<Shared.Models.ProblemModel>
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;

@{
    Layout = "_Layout";
}

<div class="container p-2">
    <div class="row py-2">
        <div class="ml-3 mr-auto">
            <h2>Zadania w bazie</h2>
        </div>

        <div class="ml-auto mr-3">
            <a asp-controller="Problem" asp-action="Create" asp-route-category="@ViewBag.preservedCategory" class="btn btn-primary">
                <i data-feather="file-plus"></i> Nowe zadanie
            </a>
        </div>
    </div>
    <div class="row py-2">
        <div class="ml-3 mr-auto">
            <h3>@ViewBag.selectedCategoryName</h3>
        </div>
        <div class="ml-auto mr-3">
            <div class="dropdown">
                <button class="btn btn-outline-primary dropdown-toggle " type="button" id="categoryDropdown" data-toggle="dropdown">
                    Wybierz kategorię
                </button>

                <div class="dropdown-menu">
                    @foreach (var cat in ViewBag.CategoriesWithDefault)
                    {
                        <a class="dropdown-item" asp-controller="Problem" asp-action="Index" asp-route-category="@cat.CategoryId">@cat.CategoryName</a>
                    }
                </div>
            </div>

            @*@Html.DropDownList("test", (SelectList)ViewBag.CategoryDropdownList, "Wybierz kategorię")*@
        </div>
    </div>

    @if (Model is not null && Model.Count() > 0)
    {
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>@(AttributeGetter.DisplayName<ProblemModel>(nameof(ProblemModel.IdNumber)))</th>
                    <th>@(AttributeGetter.DisplayName<ProblemModel>(nameof(ProblemModel.ProblemText)))</th>
                    <th style="width: 130px"></th> @* Buttons *@
                </tr>
            </thead>
            <tbody>
                @foreach (var problem in Model)
                {
                    <tr>
                        <td>
                            <a asp-controller="Problem" 
                               asp-action="Read" 
                               asp-route-id="@problem.IdNumber" 
                               asp-route-category="@ViewBag.preservedCategory" 
                               class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Szczegóły">
                                @*<i data-feather="file-text"></i>*@ @problem.IdNumber
                            </a>
                        </td>
                        <td>@problem.ProblemText.TruncateLongString(100)</td>
                        <td>
                            <a asp-controller="Problem" 
                               asp-action="Update" 
                               asp-route-id="@problem.IdNumber" 
                               asp-route-category="@ViewBag.preservedCategory" 
                               class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Edytuj">
                                <i data-feather="edit-3"></i>
                            </a>
                            <a asp-controller="Problem" 
                               asp-action="Delete" 
                               asp-route-id="@problem.IdNumber" 
                               asp-route-category="@ViewBag.preservedCategory" 
                               class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Usuń">
                                <i data-feather="trash-2"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    }
    else
    {
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            
            @if (ViewBag.preservedCategory is null || ViewBag.preservedCategory == 0)
            {
                <p><i data-feather="alert-triangle"></i> Brak zadań w bazie!</p>
            }
            else
            {
                <p><i data-feather="alert-triangle"></i> Brak zadań w bazie dla wybranej kategorii!</p>
            }
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i data-feather="x"></i></span>
            </button>
        </div>
    }


    @*@Html.PagedListPager(Model, page => Url.Action("Index", new { category = ViewBag.preservedCategory, page }), PagedListRenderOptions.PageNumbersOnly)*@

    @Html.PagedListPager(Model, page => Url.Action("Index", new { category = ViewBag.preservedCategory, page }), new PagedListRenderOptions
        {
            DisplayLinkToIndividualPages = true,
            DisplayPageCountAndCurrentLocation = false,
            MaximumPageNumbersToDisplay = 10,
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" }
        })


</div>


