﻿@model Shared.Models.ProblemModel

@using Shared.Models 

@{
    Layout = "_Layout";
}
@*<form method="post">*@
<form>
    @*asp-action="DisplaySummary"*@
    <div class="row">
        <div class="col">
            <div class="form-group ">
                <label asp-for="IdNumber"></label>
                <input asp-for="IdNumber" disabled="@(true)" class="form-control-plaintext" />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="Score"></label>
                <input asp-for="Score" disabled="@(true)" class="form-control" />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="Type"></label>
                <select asp-for="Type" class="form-control" disabled="@(true)"
                        asp-items="Html.GetEnumSelectList<ProblemType>()">
                    <option disabled selected>@Model.Type.EnumPrettyLabel()</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Category.CategoryName"></label>
        <select asp-for="Category.CategoryId" class="form-control" disabled="@(true)"
                asp-items="ViewBag.CategoryList">
            <option disabled selected>@Model.Category.CategoryName</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="ProblemText"></label>
        <textarea asp-for="ProblemText" disabled="@(true)" class="form-control" rows="15"></textarea>
    </div>
    @*<button type="submit" class="btn btn-primary">Submit</button>*@
    <a asp-controller="Problem" asp-action="Index" asp-route-category="@ViewBag.preservedCategory" asp-route-page="@ViewBag.preservedPage" class="btn btn-secondary">
        <i data-feather="arrow-left"></i> Wróć do bazy
    </a>
</form>