﻿@{
    Layout = "_Layout";
}



<div class="container p-2">
    <div class="row py-4">
        <div class="mx-auto">
            <h2>Co chcesz zrobić?</h2>
        </div>
    </div>

    <div class="row">
        <div class="mx-auto">

            <div class="p-1 text-center"><a asp-controller="Generate" asp-action="SetConstraints" class="btn btn-dark">Utwórz nowy test</a></div>

            <div class="p-1 text-center"><a asp-controller="Files" asp-action="Index" class="btn btn-outline-dark">Pliki .tex do pobrania</a></div>

            <hr />

            @*<div class="p-1"><button class="btn btn-primary">Wygeneruj nowy test</button></div>*@

            <div class="p-1 text-center"><a asp-controller="Category" asp-action="Index" class="btn btn-primary">Baza kategorii</a></div>

            <div class="p-1 text-center"><a asp-controller="Problem" asp-action="Index" class="btn btn-primary">Baza pytań</a></div>

            <div class="p-1 text-center"><a asp-controller="Generate" asp-action="Index" class="btn btn-primary">Baza testów</a></div>

            <hr />

            <div class="p-1 text-center"><a asp-controller="Home" asp-action="Readme" class="btn btn-info">Instrukcja obsługi aplikacji</a></div>
        </div>
        @*<component type="typeof(Generator.BlazorComponents.Counter)" param-InitialValue="22" render-mode="Server" />*@
    </div>
</div>




