@{
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="row py-4">
        <div class="col">
            <div class="title-section">
            <h1>Instrukcja obsługi <em>Generatora testów</em></h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="sidebar-section">
                <div class="sidebar-item">
                    <div class="sidebar-content">
                        <ul class="section-nav no-bullet">
                            <li class="toc-entry toc-h2 no-bullet">
                                <a class="nav-link text-dark" href="#h2_1">Zarys programu</a>
                            </li>
                            <li class="toc-entry toc-h2 no-bullet">
                                <a class="nav-link text-dark" href="#h2_2">Prerekwizyty</a>
                            </li>
                            <li class="toc-entry toc-h2 no-bullet">
                                <a class="nav-link text-dark" href="#h2_3">Baza działów (kategorii)</a>
                            </li>
                            <li class="toc-entry toc-h2 no-bullet">
                                <a class="nav-link text-dark" href="#h2_4">Baza pytań (zadań)</a>
                            </li>
                            <ul>
                                <li class="toc-entry toc-h3 no-bullet">
                                    <a class="nav-link text-dark" href="#h3_4_1">Przykładowe zadanie otwarte</a>
                                </li>
                                <li class="toc-entry toc-h3 no-bullet">
                                    <a class="nav-link text-dark" href="#h3_4_2">Przykładowe zadanie zamknięte</a>
                                </li>
                                <li class="toc-entry toc-h3 no-bullet">
                                    <a class="nav-link text-dark" href="#h3_4_3">Przykładowe zadanie zamknięte z dynamiczną treścią</a>
                                </li>
                            </ul>
                            <li class="toc-entry toc-h2 no-bullet">
                                <a class="nav-link text-dark" href="#h2_5">Baza testów</a>
                            </li>
                            <li class="toc-entry toc-h2 no-bullet">
                                <a class="nav-link text-dark" href="#h2_6"><strong>Tworzenie nowego testu</strong></a>
                            </li>
                            <li class="toc-entry toc-h2 no-bullet">
                                <a class="nav-link text-dark" href="#h2_latex">Czym jest LaTeX</a>
                            </li>
                            <ul>
                                <li class="toc-entry toc-h3 no-bullet">
                                    <a class="nav-link text-dark" href="#h3_latex_more">Więcej informacji</a>
                                </li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="content-section">
                <h2 id="h2_1">Zarys programu</h2>

                <p><em>Generator testów</em> to prosta aplikacja przeglądarkowa, która umożliwia generowanie testów na podstawie przygotowanej bazy zadań.</p>

                <p>Każdy tak utworzony test składa się z określonej przez użytkownika liczby zadań, które mogą być w zależności od potrzeb losowane z wskazanych kategorii, lub dodane ręcznie.</p>

                <p>Podstawowy <em>workflow</em> aplikacji przedstawiono na poniższym diagramie.</p>

                <figure class="px-5">
                    <div class="text-center"><img class="img-fluid" src="/images/workflow.svg"></div>

                    <figcaption class="small">Schemat korzystania z aplikacji. Należy zwrócić uwagę, że utworzenie baz kategorii i zadań to czynności wymagane jednorazowo (nie licząc ewentualnych poprawek)!</figcaption>
                </figure>


                <h2 id="h2_2">Prerekwizyty</h2>

                <p>Any móc wykorzystać generator do utworzenia testu, użytkownik musi umieć skompilować plik <samp>.tex</samp> (utworzony przez aplikację) do formatu PDF. Wymaga to posiadania lokalnie zainstalowanej dystrybucji LaTeXa, np. MiKTeX.

                <p>Z kolei aby móc dodawać nowe pytania do bazy, wymagana jest podstawowa znajomość składni LaTeX.</p>



                <h2 id="h2_3">Baza działów (kategorii)</h2>

                <p>Dział (nazywany także kategorią) to podstawowa jednostka grupująca zadania w tematyczne zbiory.</p>
                
                <p>Jedyne parametry, które posiada kategoria, to automatycznie nadawane id (numer w bazie) oraz <em>nazwa</em>. Nazwa musi posiadać między 5 a 32 znaki.</p>

                <p>Aplikacja umożliwa dodawanie nowych kategoii, edytowanie nazwy istniejącej kategorii, oraz usuwanie istniejących kategorii. <span class="mark">Kategorii nie można usunąć, jeśli w bazie pytań istnieją zadania do niej przyporządkowane!</span></p>



                <h2 id="h2_4">Baza pytań (zadań)</h2>

                <p>Baza pytań jest „kręgosłupem” <em>Generatora</em>. Każde pytanie w bazie posiada następujące parametry:</p>

                <ul>
                    <li>id, czyli numer porządkowy w bazie (przydzielany automatycznie)</li>
                    <li>liczbę punktów,</li>
                    <li>typ (czy zadanie jest zamknięte, czy otwarte),</li>
                    <li>dział, do którego należy zadanie,</li>
                    <li>treść.</li>
                </ul>

                <p>Pierwsze cztery parametry są intuicyjne i nie wymagają omówienia.</p>
                    
                <p>Treść zadania należy wprowadzić w składni LaTeX. Szablon, w którym zostaną osadzone zadania, zawiera podstawowe makra pomocne w tworzeniu testów; zostaną one omówione poniżej na gotowych przykładach zadań. Poza tym szablon zawiera typowe matematyczne paczki rozszerzeń – aby szczegółowo zapoznać się z ich listą, [TODO] pobierz plik z szablonem.</p>
                    
                <p><span class="mark">Aplikacja nie weryfikuje ewentualnych błędów składni!</span> Przed dodaniem zadania do bazy należy więc sprawdzić, czy jego treść poprawnie kompliluje się do pliku PDF.</p>

                <h3 id="h3_4_1" class="font-weight-normal">Przykładowe zadanie otwarte</h3>

<pre class="border border-dark p-2"><code>\zadanie[2] Oblicz granicę:

\begin{equation*}
    \lim_{n \to +\infty} frac{ (3n+2)^2 - (1-2n)^2 }{ (2n-1)^2 }.
\end{equation*}

Jako rozwiązanie podaj cyfrę jedności oraz dwie pierwsze cyfry po
przecinku rozwinięcia dziesiętnego otrzymanego wyniku.</code></pre>

                <p>Makro <code>\zadanie</code> zostanie automatycznie zastąpione przez liczbę porządkową zadania w teście. Opcjonalny parametr w makrze oznacza maksymalną liczbę punktów do zdobycia za dane zadanie. Jeśli parametr zostanie pominięty, liczba punktów nie zostanie umieszczona w teście.</p>

                <h3 id="h3_4_2" class="font-weight-normal">Przykładowe zadanie zamknięte</h3>

<pre class="border border-dark p-2"><code>\zadanie[1] Różnica $\cos^2 165\text{°} - \sin^2 165\text{°}$ jest równa:

\ABCD{$\displaystyle -1$}%
{$\displaystyle -\frac{\sqrt{3}}{2}$}%
{$\displaystyle -\frac{1}{2}$}
{$\displaystyle \frac{\sqrt{3}}{2}$}</code></pre>

                <p>Makro <code>\ABCD</code> posiada cztery wymagane parametry, które oznaczają cztery możliwe odpowiedzi w zadaniu zamkniętym.</p>

                <p>Istnieją następujące warianty makra dla odpowiedzi zamkniętych:</p>

                <ul>
                    <li><code>\ABCD{1}{2}{3}{4}</code> – cztery odpowiedzi, które zostaną umieszczone w jednej linii. To makro przeznaczone jest dla krótkich odpowiedzi, np. pojedynczych słów lub wyrażeń matematycznych.</li>
                    <li><code>\ABCDdouble{1}{2}{3}{4}</code> – cztery odpowiedzi, które zostaną umieszczone po dwie w linii.</li>
                    <li><code>\ABCDsingle{1}{2}{3}{4}</code> – cztery odpowiedzi, które zostaną umieszczone pojednyczo, czyli w czterech liniach.  To makro przeznaczone jest dla długich odpowiedzi, np. pełnych zdań.</li>
                    <li><code>\ABCDE{1}{2}{3}{4}{5}</code> – pięć odpowiedzi, które zostaną umieszczone w jednej linii.</li>
                    <li><code>\ABCDEsingle{1}{2}{3}{4}{5}</code> – pięć odpowiedzi, które zostaną umieszczone pojednyczo, czyli w pięciu liniach.</li>
                </ul>


                <h3 id="h3_4_3" class="font-weight-normal">Przykładowe zadanie zamknięte z dynamiczną treścią</h3>

                <p>Aplikacja pozwala na tworzenie zadań, w których treść jest zależna od losowych parametrów. Wszelkie wyrażenia zawarte pomiędzy symbolami <code>€</code> zostaną w treści zadania zamienione przez odpowiednie wartości. (Symbol <code>€</code> został wybrane przez analogię do <code>$</code>, który w składni LaTeX oznacza wyrażenie matematyczne).</p>

<pre class="border border-dark p-2"><code>\zadanie[1] Pan Wojciech kupił dywan o wymiarach
$€var1€$ metrów na €var2€ metrów. Oblicz pole tego dywanu.

\ABCD{€ans0€}{€ans1€}{€ans2€}{€ans3€}

%% VARIABLES
% var1;l:4;4.5;5
% var2;r:2;5;1
% exp1;var1*var2
% ans0;exp1
% ans1;var1+var2
% ans2;2*var1+2*var2
% ans3;var1*var1+var2*var2</code></pre>

                <p>(Symbol <code>%</code> to w składni LaTeX początek komentarza; kompilator zignoruje wszelkie znaki w linii po tym symbolu).</p>

                <p>Wszystkie dynamiczne parametry zadania należy umieścić na jego końcu, i poprzedzić je linią <code>%% VARIABLES</code>. Zmienne oznaczone jako <code>var&lt;liczba&gt;</code> to <em>zmienne niezależne</em>. Aplikacja rozróżnia trzy typy zmiennych niezależnych, których przykłady znajdują się poniżej</p>

                <ul>
                    <li><code>% var1;l:1;2;3;4;5</code> – <code>l</code> to zmienna typu lista, gdzie parametr po prostu losowo wybierany z listy podanych wartości</li>
                    <li><code>% var2;r:2;5;0.7</code> – <code>r</code> to zmienna typu zakres. Trzy kolejne liczby rodzielone średnikami to: początek zakresu, koniec zakresu, oraz krok. Wylosowania liczba będzie mieścić się w zakresie oraz różnić się od początku tego zakresu o całkowitą wielokrotność kroku. Dla wartości podanych w przykładzie mogą więc zostać wylosowane liczby: 2, 2.7, 3.4, 4.1, lub 4.8</li>
                    <li><code>% var3;v:5</code> – <code>v</code> w przeciwieństwie do powyższych przypadków oznacza stałą wartość. Możliwość deklaracji stałej nie jest nigdy konieczna, ale niekiedy potrafi ułatwić bardziej złożone obliczenia.</li>
                </ul>

                <p>Obok zmiennych niezależnych, dynamiczne zadanie może zawierać także zmienne zależne, oznaczone jako <code>exp&lt;liczba&gt;</code> lub <code>ans&lt;liczba&gt;</code>. Do parsowania tych wyrażeń i obliczania ich wartości aplikacja wykorzystuje bibliotekę <a href="https://github.com/nreco/lambdaparser/" target="_blank">NReco LambdaParser</a> – tam należy szukać szczegółowych informacji jak budować wyrażenia.</p>

                <p>Najważniejsza z punktu widzenia <em>Generatora</em> jest obsługa operacji arytmetycznych: dodawania, odejmowania, dzielenia, mnożenia, a także:</p>

                <ul>
                    <li><code>Sqrt(var1)</code> – pierwiastkowania</li>
                    <li><code>Pow(var2, 3)</code> – podnoszenia do potęgi</li>
                    <li><code>Floor(var3)</code> & <code>Ceil(var4)</code> – obliczania podłogi i sufitu z liczby, czyli zaokrągleń w dół i w górę do najbliższej liczby całkowitej.</li>
                </ul>

                <p>W aktualnej wersji dostępne funkcje matematyczne są ograniczone jedynie do powyższych!</p>

                <p><code>ans</code> to specjalne wyrażenia, oznaczające odpowiedzi w zadaniu zamkniętym. Nie ma wymogu ich stosowania! Jeśli jako odpowiedzi zostaną użyte „zwykłe” zmienne, lub odpowiedz zostaną podane <em>explicite</em>, bez użycia zmiennych dynamicznych – zadanie skompiluje się poprawnie. Użycie <code>ans</code> spowoduje natomiast, że wartości wyrażeń zostaną losowo przetasowane przed umieszczeniem w teście. <span class="mark">Z tego powodu nie należy używać tych zmiennych w inny sposób niż jako odpowiedzi w zadaniu zamkniętym!</span></p>



                <h2 id="h2_5">Baza testów</h2>

                <p>Widok bazy testów pozwala na podgląd i edycję testów wygenerowanych w przeszłości, a także na wygenerowanie gotowego pliku LaTeX, który następnie będzie można pobrać i skompilować.</p>

                <p>Wszelkie akcje dostępne w tym widoku zostaną omówione przy instrukcji generowania nowego testu.</p>



                <h2 id="h2_6">Tworzenie nowego testu</h2>

                <p>Po kliknięciu na przycisk <i>Utwórz nowy test</i> na stronie głównej aplikacji, użytkownik zostaje przeniesiony do kreatora nowego testu.</p>

                <p>W kreatorze należy wskazać następujące parametry generacji:</p>

                <ul>
                    <li>liczbę zadań zamkniętych,</li>
                    <li>liczbę zadań otwartych,</li>
                    <li>tytuł testu,</li>
                    <li>oraz kategorie z których należy wylosować zadania.</li>
                </ul>

                <p>Liczba zadań każdego typu musi być dowolną liczbą nieujemną. Gdy liczba zadań żądana przez użytkownika przekracza liczbę zadań dostępnych w bazie, do testu wybrane zostaną po prostu <em>wszystkie</em> zadania spełniające kryteria.</p>

                <p>Dopuszczalne jest utworzenie testu który zawiera 0 zadań zamkniętych i 0 zadań otwartych – pozwala to na utworzenie wstępnie pustego testu, do którego użytkownik może następnie ręcznie dodać zadania z bazy.</p>

                <p>Tytuł testu może być dowolnym niepustym tekstem.</p>

                <p>Jeśli użytkownik nie wskaże żadnej kategorii, z której mają zostać wylosowane zadania, aplikacja będzie losować zadania z pełnej bazy pytań.</p>

                <hr/>

                <p>Po zatwierdzeniu parametrów generacji, aplikacja użyje ich do wylosowania zadań z bazy. W kolejnym widoku użytkownik będzie mógł zapoznać się z tymi zadaniami, i w razie potrzeby usunąć niechciane zadania lub wskazać dodatkowe zadania z bazy, które mają znaleźć się w teście.</p>

                <p>Gdy ewentualne poprawki w liście zadań zostaną naniesione, użytkownik może rozpocząć ostateczny proces generowania pliku <samp>.tex</samp> z gotowym testem. Jeżeli zadania wybrane do testu posiadają dynamiczną treść, to wskazując odpowiednią liczbę i wciskając <i>Utwórz wiele grup</i>, gotowy test będzie zawierał żądaną liczbę bliźniaczych grup, w których każde dynamiczne zadanie będzie miało losowo dobrane parametry.</p>

                <p>Wygenerowany plik <samp>.tex</samp> będzie dostępny do pobrania ze strony <a asp-controller="Files" asp-action="Index">Pliki do pobrania</a>, do której odnośnik znajduje się na belce tytułowej aplikacji.</p>




                <h2 id="h2_latex">Czym jest LaTeX</h2>

                <p>W telegraficznym skrócie – LaTeX to system składu tekstu WYSIWYM, przeznaczony przede wszystkim do publikacji zawierających zaawansowane symbole matematyczne. </p>

                <h3 id="h3_latex_more" class="font-weight-normal">Więcej informacji</h3>

                <p>Poglądowy artykuł czym jest LaTeX można przeczytać na <a href="https://pl.wikipedia.org/wiki/LaTeX">polskiej Wikipedii</a>. Bardziej szczegółowe informacje można też znaleźć w publikacji <a href="https://texdoc.org/serve/lshort2e.pdf/0" target="_blank">Nie za krótkie wprowadzenie do systemu LaTeX</a>.</p>
            </div>
        </div>
    </div>
</div>