﻿@page "/Generate/Complete"

@namespace Generator.Pages

@{
    Layout = "_Layout";
}

<p>Proces generowania pliku .tex został rozpoczęty.</p>

<p>Po wygenerowaniu test pojawi się <a href="/Files" class="text-info">na tej stronie</a>.</p>
