﻿@model Shared.Models.CategoryModel

@{
    Layout = "_Layout";
}

<form method="post" asp-controller="Category" asp-action="Create">
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="CategoryId"></label>
        <input asp-for="CategoryId" readonly="@true" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CategoryName"></label>
        <input asp-for="CategoryName" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary"><i data-feather="check"></i> Zatwierdź</button>
    <a asp-controller="Category" asp-action="Index" class="btn btn-secondary"><i data-feather="arrow-left"></i> Wróć do bazy</a>
</form>