﻿@model IEnumerable<Shared.Models.CategoryModel>

@{
    Layout = "_Layout";
}

<div class="container p-2">
    <div class="row py-2">
        <div class="ml-3 mr-auto">
            <h2>Kategorie w bazie</h2>
        </div>

        <div class="ml-auto mr-3">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary"> <i data-feather="plus"></i> Nowa kategoria</a>
        </div>
    </div>

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th>@(AttributeGetter.DisplayName<CategoryModel>(nameof(CategoryModel.CategoryId)))</th>
                    <th>@(AttributeGetter.DisplayName<CategoryModel>(nameof(CategoryModel.CategoryName)))</th>
                    <th style="width: 130px"></th> @* Buttons *@
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model)
                {
                <tr>
                    <td>@category.CategoryId</td>
                    <td>@category.CategoryName</td>
                    @*Buttons*@
                <td>
                    <a asp-controller="Category" asp-action="Update" asp-route-Id="@category.CategoryId" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top" title="Edytuj">
                        <i data-feather="edit-3"></i>
                    </a>
                    <a asp-controller="Category" asp-action="Delete" asp-route-Id="@category.CategoryId" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Usuń">
                        <i data-feather="trash-2"></i>
                    </a>
                </td>
                </tr>
                }
            </tbody>

        </table>
    }
    else
    {
        <p>Baza nie zawiera żadnych kategorii.</p>
    }
</div>

