﻿@model IEnumerable<Generator.ViewModels.FileModel>

@using Generator.ViewModels

@{
    Layout = "_Layout";
}


<div class="container p-2">
    <div class="row pt-4">
        <div class="text-center mx-3">
            <h2>Wygenerowane pliki .tex</h2>
        </div>
    </div>

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th>Nazwa pliku</th>
                    <th>Link do pobrania</th>
                </tr>
            </thead>
            <tbody>
                @foreach (FileModel file in Model.Reverse())
                {
                    <tr>
                        <td><samp>@file.FileName</samp> @if (file.FreshnessStatus) { <span class="badge badge-info" style="font-variant: small-caps">NOWY</span> } </td>
                        <td><a href=@($@"/Download/{file.FileName}") download="@file.FileName">Pobierz</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Brak plików.</p>
    }
</div>